<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grade.name %>
</p>
<table>
	<tr><th>Student name</th><th>Student age</th><th>Operation</th></tr>

	<% @grade.students.each  do  |stu|  %>
	<tr> <td><%= stu.name%></td> <td><%= stu.age%></td> <td><%= link_to 'Show', stu %>&nbsp;<%= link_to 'Edit', edit_student_path(stu) %>&nbsp;<%= link_to 'Destroy', stu, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
	<% end %>
</table>

<%= link_to 'New Student', new_student_path %>
<br>
<%= link_to 'Edit', edit_grade_path(@grade) %>
<%= link_to 'Back', grades_path %>
